<div>
	<form method = "post">
		<input type = "hidden" name = "_csrf" value = <%= csrfToken %> />
		Full Name
		<input type = "text" name = "name" required />
		<br />
		Email
		<input type = "email" name = "email" required />
		<br />
		Password
		<input type = "password" name = "password" required />
		<br />
		<input type = "submit" />
	</form>
</div>